@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the index page.</p>
</div>

<p>
    <a href="/HotelBooking/HotelBookingDetails">Hotel Booking Details</a>
    <br/>  
    <a href="/HotelBooking/TestGuest">Test Guest</a>
</p>