@model HotelBooking.Models.HotelBookingModel

<h1>Test Guest</h1>
<p>Welcome Screen for Hotel Booking!</p>

<h4>Guest Id - @Model.Id @Model.GuestName has a booking from @Model.DateStart ending on @Model.DateEnd</h4>