@model HotelBooking.Models.HotelBookingModel

<img class="mainImage" src="~/images/hotelBell.jpg" alt="Responsive image">
<h1>Test Guest</h1>
<p>Welcome Screen for Hotel Booking!</p>

<h4>Guest Id - @Model.Id @Model.GuestName has a booking from @Model.DateStart ending on @Model.DateEnd</h4>